.container { 
    display: inline-block; 
    background-color: black;
    width: 1270px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
    box-shadow:     
    /* bottom edge */
    0 0.35px 0 0 #fff,
    /* left edge */
    -0.35px 0 0 0 #fff,
    /* right edge */
    0.35px 0 0 0 #fff;;
  }
  
  .text {
    font-size: 1.5em;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin-top: -7px;
    margin: 0;
  }
  
  .over-container h4 {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
  }
  
  .over-container {
    background-color: rgba(47, 47, 47, 1);
    width: 1270px;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 
    /* top edge */
    0 -0.35px 0 0 #fff,
    /* left edge */
    -0.35px 0 0 0 #fff,
    /* right edge */
    0.35px 0 0 0 #fff;;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vectors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .vectors img{
    cursor: pointer;
  }
  .green {
    color: green;
  }
  
  .pink-red {
    color: rgb(255, 46, 109);
  }
  
  .text2 {
    width: 0;
    animation-delay: 2s;
  }
  
  .text3 {
    width: 0;
    animation-delay: 3.6s;
  }
  
  .orange {
    color: orange;
  }
  
  .container-container {
    margin: 0 auto;
    width: 1270px;
    border-radius: 10px;
  }
  
  tt {
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: 400;
  }
  
  /* Keyframes */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 203.72px;
    }
  }
  
  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 128.67px;
    }
  }
  
  @keyframes typing3 {
    from {
      width: 0;
    }
    to {
      width: 546.81px;
    }
  }
  
  /* Animations only when visible */
  .animated .text {
    animation: typing 2s steps(27) forwards;
  }
  
  .animated .text2 {
    animation: typing2 1.6s steps(20) forwards;
    animation-delay: 2s;
  }
  
  .animated .text3 {
    animation: typing3 7s steps(70) forwards;
    animation-delay: 3.6s;
  }
  