.namer{
    font-family: Roboto Slab;
    font-size: 38px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.25);
}
.web-top-title{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.animated-web-top{
    animation: smallText linear forwards;
    transform-origin: bottom left;
    animation-timeline: view(300px 700px);
}
.web-top-desc{
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}
.cv{
    font-family: Poppins;
    font-size: 20px;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 103px;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.icons img{
    cursor: pointer;
}
.cv:hover{
    background-color: white;
    color: black;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.web-top-text{
    width: 690px;
    margin-top: 140px;
    z-index: 0;
}
.web-top{
    display: flex;
    justify-content: center;
    gap: 50px;
    z-index: 0;
}
.web-top > img{
    width: 590px;
    z-index: 0;
}
.buttons{
    display: flex;
    gap: 50px;
}
.animated-text-box{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.animated-text{
    font-family: Roboto Slab;
    font-size: 158px;
    font-weight: 600;
    color: black; 
    text-align: center;
    margin: 0;
    margin-top: -200px;
    white-space: nowrap;
    z-index: -1;
    animation: infinite infinity-slide 180s linear;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.253); /* width and color */
}
.btn-container button{
    background-color: transparent;
    color: white;
    border: 3px black solid;
    padding: 13px 26px;
    border-radius: 50px;
    font-family: Roboto Slab;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.25s;
}
.btn-container button:hover{
    background-color: white;
    color: black;
}
.btn-container{
    display: block;
    margin-bottom: -50px;
}
.btn-container button.selected{
    background-color: white;
    color: black;
}
.przejscie-title{
    color: white;
    font-family: Roboto Slab;
    font-size: 60px;
    font-weight: 600;
    max-width: 843px;
    margin: 20px auto;
    padding: 7em 0;
}
.przejscie{
    padding: 0 15%;
    background-color: black;
    z-index: 1;
    height: 150vh;
}
.umiejetnosci-title{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.umiejetnosci-box{
    background-color: white;
    padding: 100px 0;
    z-index: -1;
}
.umiejetnosci-desc{
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    max-width: 1130px;
    margin: 0 auto;
}
.umiejetnosci-text{
    margin: 0 15%;
}
.lang-name{
    font-family: Jost;
    font-size: 26.11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 20px;
    margin: 0;
    transition: 0.5s;
}
.lang-box{
    width: 310px;
    height: 310px;
    text-align: center;
    background-color: rgba(21, 21, 21, 1);
    border-radius: 23.31px;
    margin: auto;
}
.lang-box img{
    margin-top: 100px;
    padding-bottom: 22px;
    height: 126px;
    filter: grayscale(100%);
    transition: 0.5s;
}
#l3 .lang-box{
    width: 330px;
    height: 330px;
}
.lang-box:hover img{
    filter: grayscale(0);
    transform: translateY(-50px);
}
.lang-box:hover .lang-name{
    font-size: 40px;
    color: white;
}
.languages-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 100px 2% 50px;
    gap: 10px;
    align-items: flex-end;
}
.programmer-text-h2{
    font-family: Roboto Slab;
    font-size: 91.3px;
    font-weight: 600;   
    -webkit-text-stroke: 5px  rgba(255, 255, 255, 0.253); /* width and color */
    text-align: center;
}
.programmer-text-img{
    display: block;
    margin: auto;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 100px 10%;
    column-gap: 0;
    row-gap: 0;
}
.prj-box{
    max-width: 593px;
}
.prj-box h4{
    color: white;
    font-family: Roboto Slab;
    font-size: 18px;
    font-weight: 500; 
    margin-bottom: 10px;
    margin-top: 0;
}
.prj-box p{
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em; 
    color: white;
    margin-bottom: 2px;
    margin: 0;
}
.project-desc{
    max-width: 593px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 0 0 25px 25px;
    transform: translateY(-118.5px);
    transition: 0.3s opacity;
    opacity: 0;
}
.prj-box div div{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.prj-box div div img{
    padding-right: 30px;
}
.prj-box:hover .project-desc{
    opacity: 1;
}
.projects-img{
    box-shadow: 0px 0px 1.42px 0px rgba(217, 217, 217, 1);

    box-shadow: 0px 0px 2.85px 0px rgba(217, 217, 217, 1);
    
    box-shadow: 0px 0px 9.96px 0px rgba(217, 217, 217, 1);
    
    box-shadow: 0px 0px 19.92px 0px rgba(217, 217, 217, 1);
    
    box-shadow: 0px 0px 34.16px 0px rgba(217, 217, 217, 1);
    
    box-shadow: 0px 0px 59.77px 0px rgba(217, 217, 217, 1);
    cursor: pointer;  
    transition: all 0.3s;  
    border-radius: 25px;
}
.projects-img:hover{
    box-shadow: 0px 0px 2.13px 0px rgba(255, 255, 255, 1);

    box-shadow: 0px 0px 4.27px 0px rgba(255, 255, 255, 1);
    
    box-shadow: 0px 0px 14.94px 0px rgba(255, 255, 255, 1);
    
    box-shadow: 0px 0px 29.89px 0px rgba(255, 255, 255, 1);
    
    box-shadow: 0px 0px 51.24px 0px rgba(255, 255, 255, 1);
    
    box-shadow: 0px 0px 89.66px 0px rgba(255, 255, 255, 1);
    
}
#pr1{
    grid-row: 1;
    grid-column: 1;
}
#pr2{
    grid-column: 2;
    grid-row: 1;
}
#pr3{
    grid-row: 2;
    grid-column: 1;
    margin-top: -200px;
}
#pr4{
    grid-column: 2;
    grid-row: 2;
}
#pr2.prj-box{
    margin-top: 200px;
}
.bottom-projects-btn{
    font-family: Jost;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 5px  rgba(255, 255, 255, 0.75); /* width and color */
    color: transparent;
    display: flex;
    justify-self: center;
    margin-bottom: 150px;
    transition: all 0.3s;
}
.bottom-projects-btn:hover{
    color: white;
    -webkit-text-stroke: 3px white;
    text-shadow: 0px 0px 2.32px  rgba(255, 255, 255, 1);

    text-shadow: 0px 0px 4.64px  rgba(255, 255, 255, 1);
    
    text-shadow: 0px 0px 16.26px  rgba(255, 255, 255, 1);
    
    text-shadow: 0px 0px 32.52px  rgba(255, 255, 255, 1);
    
    text-shadow: 0px 0px 55.76px  rgba(255, 255, 255, 1);
    
    text-shadow: 0px 0px 97.58px  rgba(255, 255, 255, 1);    
}

@keyframes fadeIn {
    from{
        opacity: 0;
        scale: .8;
    }
    
    40%{
        opacity: 1;
        scale: 1;
    }
  }
    .fadeIn{
        animation: fadeIn;
        animation-timeline: view();
    }
@keyframes infinity-slide {
    90% {
        transform: translateX(-100%); /* Start poza ekranem z prawej strony */
      }
    100% {
        transform: translateX(100%); /* Przesunięcie do końca poza ekranem z lewej strony */
      }
}
@keyframes smallText {
    to{
        scale: 0.6;
    }
}

@media (max-width: 1820px){
    .projects{
        margin: 100px 5%;
    }

}
@media (max-width: 1670px) {
    .languages-boxes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #l1{
        grid-column: 1;
    }
    #l2{
        grid-column: 2;
    }
    #l3{
        grid-column: 3;
    }
    #l3 .lang-box{
        width: 300px;
        height: 310px;
    }
    #l4{
        grid-column: 1 / 3; /* Elementy zajmują środek siatki */
        grid-row: 2; /* Drugi wiersz */
        justify-content: center; /* Wyśrodkowanie poziome */
        align-items: center; /* Wyśrodkowanie pionowe */
        gap: 20px; /* Odstęp między nimi */
    }
    #l5 {
        grid-column: 2 / 4; /* Elementy zajmują środek siatki */
        grid-row: 2; /* Drugi wiersz */
        justify-content: center; /* Wyśrodkowanie poziome */
        align-items: center; /* Wyśrodkowanie pionowe */
        gap: 20px; /* Odstęp między nimi */
      }
    .lang-box{
        width: 300px;
    }
}
@media (max-width: 1435px) {
    .animated-text{
        font-size: 100px;
    }
}
@media (max-width: 1355px) {
    .projects{
        grid-template-columns: 1fr;
    }
    #pr1, #pr2, #pr3, #pr4{
        grid-column: 1;
    }
    #pr1{
        grid-row: 1;
    }
    #pr2{
        grid-row: 2;
    }
    #pr3{
        grid-row: 3;
    }
    #pr4{
        grid-row: 4;
    }
    .projects-box > img{
        width: 300px;
    }
}
@media (max-width: 1260px) {
    .web-top{
        gap: 0;
    }
    .web-top-title{
        font-size: 40px;
    }
    .web-top-desc{
        font-size: 22px;
    }
    .namer{
        font-size: 32px;
    }
    .web-top > img{
        width: 400px;
    }
    .buttons{
        display: block;
    }
    .icons{
        max-width: 320px;
        margin-top: 30px;
    }
    .animated-text{
        margin-top: 20px;
    }
}
@media (max-width: 1080px) {
    .languages-boxes{
        grid-template-columns: 1fr 1fr;
    }
    #l1{
        grid-column: 1;
        grid-row: 1;
    }
    #l2{
        grid-column: 2;
        grid-row: 1;
    }
    #l3{
        grid-column: 1;
        grid-row: 2;
    }
    #l4{
        grid-column: 2; /* Elementy zajmują środek siatki */
        grid-row: 2; /* Drugi wiersz */
    }
    #l5 {
        grid-column: 1 / 3; /* Elementy zajmują środek siatki */
        grid-row: 3; /* Drugi wiersz */
      }

}
@media (max-width: 750px) {
    .web-top{
        display: block;
        text-align: center;
        width: auto;
    }
    .web-top-text{
        width: auto;
    }
    .icons{
        margin: auto;
        margin-top: 30px;
    }
}
@media (max-width: 650px) {

    .lang-box{
        width: 200px;
        height: 200px;
    }
    #l3 .lang-box{
        width: 200px;
        height: 200px;
    }
    .lang-box img{
        margin-top: 30px;
        width: 100px;
        height: auto;
    }
    .lang-box:hover img{
        transform: translateY(-30px);
    }
}
@media (max-width: 440px) {
    .web-top > img{
        width: 300px;
    }
    .languages-boxes{
        margin-left: 2%;
        margin-right: 2%;
        grid-template-columns: 1fr;
    }
    #l1{
        grid-row: 1;
        grid-column: 1;
    }
    #l2{
        grid-row: 2;
        grid-column: 1;
    }
    #l3{
        grid-row: 3;
        grid-column: 1;
    }
    #l4{
        grid-row: 4;
        grid-column: 1;
    }
    #l5{
        grid-row: 5;
        grid-column: 1;
    }
}
