.namer{
    font-family: Roboto Slab;
    font-size: 38px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.25);
}
.web-top-title{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.web-top-desc{
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}
.cv{
    font-family: Poppins;
    font-size: 20px;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 103px;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.icons img{
    cursor: pointer;
}
.cv:hover{
    background-color: white;
    color: black;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.web-top-text{
    width: 690px;
    margin-top: 140px;
    z-index: 1;
}
.web-top{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.web-top > img{
    width: 590px;
    z-index: 1;
}
.buttons{
    display: flex;
    gap: 50px;
}
.animated-text-box{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.animated-text{
    font-family: Roboto Slab;
    font-size: 158px;
    font-weight: 600;
    color: black; 
    text-align: center;
    margin: 0;
    margin-top: -200px;
    white-space: nowrap;
    z-index: -1;
    animation: infinite infinity-slide 180s linear;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.253); /* width and color */
}
.btn-container button{
    background-color: transparent;
    color: white;
    border: 3px black solid;
    padding: 13px 26px;
    border-radius: 50px;
    font-family: Roboto Slab;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.25s;
}
.btn-container button:hover{
    background-color: white;
    color: black;
}
.btn-container{
    display: block;
}
.btn-container button.selected{
    background-color: white;
    color: black;
}

@keyframes infinity-slide {
    90% {
        transform: translateX(-100%); /* Start poza ekranem z prawej strony */
      }
    100% {
        transform: translateX(100%); /* Przesunięcie do końca poza ekranem z lewej strony */
      }
}
@media (max-width: 1435px) {
    .animated-text{
        font-size: 100px;
    }
}
@media (max-width: 1260px) {
    .web-top{
        gap: 0;
    }
    .web-top-title{
        font-size: 40px;
    }
    .web-top-desc{
        font-size: 22px;
    }
    .namer{
        font-size: 32px;
    }
    .web-top > img{
        width: 400px;
    }
    .buttons{
        display: block;
    }
    .icons{
        max-width: 320px;
        margin-top: 30px;
    }
    .animated-text{
        margin-top: 20px;
    }
}
@media (max-width: 750px) {
    .web-top{
        display: block;
        text-align: center;
        width: auto;
    }
    .web-top-text{
        width: auto;
    }
    .icons{
        margin: auto;
        margin-top: 30px;
    }
}
@media (max-width: 440px) {
    .web-top > img{
        width: 300px;
    }
}